export (
    annotateDTA,
    antNameFromLotek,
    antNameToLotek,
    chooseDBFile,
    chooseDTAFile,
    chooseProject,
    createCookedDepDB,
    createRawDepDB,
    cross,
    deg,
    depInfo,
    dot,
    dta2sg,
    filterTags,
    findSimul,
    findUnregTags,
    fixTimeJumps,
    friis,
    gainOmni,
    gainYagi,
    getAllSiteFiles,
    getOperatingStatus,
    getProjects,
    getSites,
    getStatus,
    isLocalMax,
    latLonDist,
    lotekDTAregex,
    lotekPowerTodBm,
    mag,
    makeOmni,
    makeRecvStatusDB,
    makeTagDepDB,
    makeYagi,
    mergeRDS,
    plotOperatingStatus,
    projPath,
    publicDTA,
    rad,
    rawPulses,
    readDTA,
    readGPX,
    SGify,
    sgPowerTodBm,
    siteDB,
    siteFile,
    siteGPS,
    sitePath,
    siteSQL,    
    sql,
    tags,
    timePins
    )

export (
    yagi5pattern,
    yagi9pattern
    )

